%h1 Listing tickets

%table
  %tr
    %th Customer
    %th Gig
    %th Paid
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= link_to ticket.customer.name, ticket.customer
      %td= link_to ticket.gig.band, ticket.gig
      %td= ticket.paid
      %td= link_to 'Show', ticket
      %td= link_to 'Edit', edit_ticket_path(ticket)
      %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ticket', new_ticket_path
