%p#notice= notice

%p
  %b Customer:
  = link_to @ticket.customer.name, @ticket.customer
%p
  %b Gig:
  = link_to @ticket.gig.date, @ticket.gig
  = link_to @ticket.gig.band, @ticket.gig
%p
  %b Paid:
  = @ticket.paid

= link_to 'Edit', edit_ticket_path(@ticket)
\|
= link_to 'Back', tickets_path
