= form_for @gig do |f|
  - if @gig.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gig.errors.count, "error")} prohibited this gig from being saved:"
      %ul
        - @gig.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :band
    = f.text_field :band
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
